provider_config:
  bms:
    ssh_user: "{{ SSH_USER }}"
    ssh_pwd:
    domainsuffix: "{{ DOMAINSUFFIX }}"

instances:
{%- if CONTROLLER_NODES is defined and CONTROLLER_NODES|length %}
{%- set CONTROLLER_NODES = CONTROLLER_NODES.split(',') %}
{%- set AGENT_NODES = AGENT_NODES.split(',') %}
{%- for node in CONTROLLER_NODES %}
  {{ node | replace(".", "_") }}:
    ip: {{ node }}
    provider: bms
    roles:
      analytics:
      analytics_snmp:
      analytics_alarm:
      analytics_database:
      config:
      config_database:
      control:
      webui:
      openstack:
{%- if node in AGENT_NODES %}
      openstack_compute:
{%- endif %}
{%- endfor %}
{% endif %}

{%- if AGENT_NODES is defined and AGENT_NODES|length %}
{%- for node in AGENT_NODES %}
{%- if node not in CONTROLLER_NODES %}
  {{ node | replace(".", "_") }}:
    ip: {{ node }}
    provider: bms
    roles:
      vrouter:
      openstack_compute:
{%- endif %}
{%- endfor %}
{%- endif %}

global_configuration:
  CONTAINER_REGISTRY: {{ CONTAINER_REGISTRY }}
  REGISTRY_PRIVATE_INSECURE: True

contrail_configuration:
  LOG_LEVEL: SYS_DEBUG
  CLOUD_ORCHESTRATOR: openstack
  CONTRAIL_CONTAINER_TAG: {{ CONTRAIL_CONTAINER_TAG }}
  OPENSTACK_VERSION: {{ OPENSTACK_VERSION }}
  AUTH_MODE: keystone
  KEYSTONE_AUTH_URL_VERSION: /v3

orchestrator_configuration:
  keystone:
    version: v3
    password: {{ AUTH_PASSWORD }}
{%- if AUTH_DOMAIN %}
    domain: {{ AUTH_DOMAIN }}
{%- endif %}
{%- if AUTH_REGION %}
    region: {{ AUTH_REGION }}
{%- endif %}

deployment:
    orchestrator: openstack
{%- if DEPLOYER == 'ansible' %}
    deployer: contrail-ansible-deployer
{%- else %}
    deployer: {{ DEPLOYER }}
{%- endif %}

test_configuration:
    image_web_server: {{ IMAGE_WEB_SERVER }}
    use_project_scoped_token: True
{%- if AUTH_PORT %}
    auth_port: {{ AUTH_PORT }}
{%- endif %}
{%- if AUTH_URL %}
    auth_url: {{ AUTH_URL }}
{%- endif %}
{%- if AUTH_DOMAIN %}
    test_domain: {{ AUTH_DOMAIN }}
{%- endif %}
